.App {
  text-align: center;
}

.App button {
  margin: 0 10px;
}

.App form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App form input{
  max-width: 20%;
}