@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

body {
  margin: 0;
  font-family: 'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'clockicons', sans-serif;
  padding-top: 5%;
}

h2 span {
  font-family: 'clockicons', sans-serif;
}

label {
  font-weight: bold;
}

#root{
  width: 50%;
  margin: auto;
  padding-top: 10%;
}